<html>
	<head>
		<title>Just a test</title>		
		<!-- CSS -->
		<link rel="stylesheet" href="css/bootstrap.min.css"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.css"/>
		<link rel="stylesheet" href="css/style.css"></script>	
		
		<!-- Imperative Scripts -->
		<script type="text/javascript" src="scripts/libs/angular.js"></script>
		<script type="text/javascript" src="scripts/libs/ui-bootstrap-tpls-0.13.2.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
		<script type="text/javascript" src="scripts/libs/jquery.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

		
		<script type="text/javascript" src="scripts/app.js"></script>		
		<style>
			input{
				clear:both;
				display:block;
			}
		</style>
	</head>
	<body ng-app="angular" ng-controller="indexController as vm">		
		<button class='btn btn-primary' ng-click="vm.submit()">Submit</button>	

		<div ng-controller="c1 as vm">
			<label class='control-label' style="margin-top:15px;">C1</label>
			<change-history-section s-name='@C1' s-entity='vm.student' s-config="{tenantId: vm.request.tenantId, personId: vm.request.personId, entity: vm.request, entityId: vm.request.entityId}">
				<input type="text" ng-model="vm.student.name" ch ch-config="{fieldName: 'Name'}"/>
				<input type="text" ng-model="vm.student.age" ch ch-config="{fieldName: 'Age'}"/>
				<input type="text" ng-model="vm.student.father" ch ch-config="{fieldName: 'Father'}"/>
				<input type="text" ng-model="vm.student.mother" ch ch-config="{fieldName: 'Mothers'}"/>
				<input type="text" ng-model="vm.student.grandFather" ch ch-config="{fieldName: 'Grandfather'}"/>
				<input type="text" ng-model="vm.student.grandMother" ch ch-config="{fieldName: 'Grandmother'}"/>
				<input type="text" ng-model="vm.student.sisterCount" ch ch-config="{fieldName: 'Sisters'}"/>
				<input type="text" ng-model="vm.student.youngerSister1" ch ch-config="{fieldName: 'Younger Sister'}"/>
				<input type="text" ng-model="vm.student.youngerSister2" ch ch-config="{fieldName: 'Elder Sister'}"/>
				<input type="text" ng-model="vm.student.school" ch ch-config="{fieldName: 'School'}"/>
			</change-history-section>
		</div>

		<div ng-controller="c2 as vm">
			<label class='control-label' style="margin-top:15px;">C2</label>
			<change-history-section s-name='@C2' s-entity='vm.student' s-config="{tenantId: vm.request.tenantId, personId: vm.request.personId, entity: vm.request, entityId: vm.request.entityId}">
				<input type="text" ng-model="vm.student.name" ch ch-config="{fieldName: 'Name'}"/>
				<input type="text" ng-model="vm.student.age" ch ch-config="{fieldName: 'Age'}"/>
				<input type="text" ng-model="vm.student.father" ch ch-config="{fieldName: 'Father'}"/>
				<input type="text" ng-model="vm.student.mother" ch ch-config="{fieldName: 'Mothers'}"/>
				<input type="text" ng-model="vm.student.grandFather" ch ch-config="{fieldName: 'Grandfather'}"/>
				<input type="text" ng-model="vm.student.grandMother" ch ch-config="{fieldName: 'Grandmother'}"/>
				<input type="text" ng-model="vm.student.sisterCount" ch ch-config="{fieldName: 'Sisters'}"/>
				<input type="text" ng-model="vm.student.youngerSister1" ch ch-config="{fieldName: 'Younger Sister'}"/>
				<input type="text" ng-model="vm.student.youngerSister2" ch ch-config="{fieldName: 'Elder Sister'}"/>
				<input type="text" ng-model="vm.student.school" ch ch-config="{fieldName: 'School'}"/>
			</change-history-section>
		</div>

		<div ng-controller="c3 as vm">
			<label class='control-label' style="margin-top:15px;">C3</label>
			<change-history-section s-name='@C3' s-entity='vm.student' s-config="{tenantId: vm.request.tenantId, personId: vm.request.personId, entity: vm.request, entityId: vm.request.entityId}">
				<input type="text" ng-model="vm.student.name" ch ch-config="{fieldName: 'Name'}"/>
				<input type="text" ng-model="vm.student.age" ch ch-config="{fieldName: 'Age'}"/>
				<input type="text" ng-model="vm.student.father" ch ch-config="{fieldName: 'Father'}"/>
				<input type="text" ng-model="vm.student.mother" ch ch-config="{fieldName: 'Mothers'}"/>
				<input type="text" ng-model="vm.student.grandFather" ch ch-config="{fieldName: 'Grandfather'}"/>
				<input type="text" ng-model="vm.student.grandMother" ch ch-config="{fieldName: 'Grandmother'}"/>
				<input type="text" ng-model="vm.student.sisterCount" ch ch-config="{fieldName: 'Sisters'}"/>
				<input type="text" ng-model="vm.student.youngerSister1" ch ch-config="{fieldName: 'Younger Sister'}"/>
				<input type="text" ng-model="vm.student.youngerSister2" ch ch-config="{fieldName: 'Elder Sister'}"/>
				<input type="text" ng-model="vm.student.school" ch ch-config="{fieldName: 'School'}"/>
			</change-history-section>
		</div>
		<div ng-controller="c4 as vm">
			<label class='control-label' style="margin-top:15px;">C4</label>
			<change-history-section s-name='@C4' s-entity='vm.student' s-config="{tenantId: vm.request.tenantId, personId: vm.request.personId, entity: vm.request, entityId: vm.request.entityId}">
				<input type="text" ng-model="vm.student.name" ch ch-config="{fieldName: 'Name'}"/>
				<input type="text" ng-model="vm.student.age" ch ch-config="{fieldName: 'Age'}"/>
				<input type="text" ng-model="vm.student.father" ch ch-config="{fieldName: 'Father'}"/>
				<input type="text" ng-model="vm.student.mother" ch ch-config="{fieldName: 'Mothers'}"/>
				<input type="text" ng-model="vm.student.grandFather" ch ch-config="{fieldName: 'Grandfather'}"/>
				<input type="text" ng-model="vm.student.grandMother" ch ch-config="{fieldName: 'Grandmother'}"/>
				<input type="text" ng-model="vm.student.sisterCount" ch ch-config="{fieldName: 'Sisters'}"/>
				<input type="text" ng-model="vm.student.youngerSister1" ch ch-config="{fieldName: 'Younger Sister'}"/>
				<input type="text" ng-model="vm.student.youngerSister2" ch ch-config="{fieldName: 'Elder Sister'}"/>
				<input type="text" ng-model="vm.student.school" ch ch-config="{fieldName: 'School'}"/>
			</change-history-section>
		</div>
		<div ng-controller="c5 as vm">
			<label class='control-label' style="margin-top:15px;">C5</label>
			<change-history-section s-name='@C5' s-entity='vm.student' s-config="{tenantId: vm.request.tenantId, personId: vm.request.personId, entity: vm.request, entityId: vm.request.entityId}">
				<input type="text" ng-model="vm.student.name" ch ch-config="{fieldName: 'Name'}"/>
				<input type="text" ng-model="vm.student.age" ch ch-config="{fieldName: 'Age'}"/>
				<input type="text" ng-model="vm.student.father" ch ch-config="{fieldName: 'Father'}"/>
				<input type="text" ng-model="vm.student.mother" ch ch-config="{fieldName: 'Mothers'}"/>
				<input type="text" ng-model="vm.student.grandFather" ch ch-config="{fieldName: 'Grandfather'}"/>
				<input type="text" ng-model="vm.student.grandMother" ch ch-config="{fieldName: 'Grandmother'}"/>
				<input type="text" ng-model="vm.student.sisterCount" ch ch-config="{fieldName: 'Sisters'}"/>
				<input type="text" ng-model="vm.student.youngerSister1" ch ch-config="{fieldName: 'Younger Sister'}"/>
				<input type="text" ng-model="vm.student.youngerSister2" ch ch-config="{fieldName: 'Elder Sister'}"/>
				<input type="text" ng-model="vm.student.school" ch ch-config="{fieldName: 'School'}"/>
			</change-history-section>
		</div>
		<div ng-controller="c6 as vm">
			<label class='control-label' style="margin-top:15px;">C6</label>
			<change-history-section s-name='@C6' s-entity='vm.student' s-config="{tenantId: vm.request.tenantId, personId: vm.request.personId, entity: vm.request, entityId: vm.request.entityId}">
				<input type="text" ng-model="vm.student.name" ch ch-config="{fieldName: 'Name'}"/>
				<input type="text" ng-model="vm.student.age" ch ch-config="{fieldName: 'Age'}"/>
				<input type="text" ng-model="vm.student.father" ch ch-config="{fieldName: 'Father'}"/>
				<input type="text" ng-model="vm.student.mother" ch ch-config="{fieldName: 'Mothers'}"/>
				<input type="text" ng-model="vm.student.grandFather" ch ch-config="{fieldName: 'Grandfather'}"/>
				<input type="text" ng-model="vm.student.grandMother" ch ch-config="{fieldName: 'Grandmother'}"/>
				<input type="text" ng-model="vm.student.sisterCount" ch ch-config="{fieldName: 'Sisters'}"/>
				<input type="text" ng-model="vm.student.youngerSister1" ch ch-config="{fieldName: 'Younger Sister'}"/>
				<input type="text" ng-model="vm.student.youngerSister2" ch ch-config="{fieldName: 'Elder Sister'}"/>
				<input type="text" ng-model="vm.student.school" ch ch-config="{fieldName: 'School'}"/>
			</change-history-section>
		</div>
		<div ng-controller="c7 as vm">
			<label class='control-label' style="margin-top:15px;">C7</label>
			<change-history-section s-name='@C7' s-entity='vm.student' s-config="{tenantId: vm.request.tenantId, personId: vm.request.personId, entity: vm.request, entityId: vm.request.entityId}">
				<input type="text" ng-model="vm.student.name" ch ch-config="{fieldName: 'Name'}"/>
				<input type="text" ng-model="vm.student.age" ch ch-config="{fieldName: 'Age'}"/>
				<input type="text" ng-model="vm.student.father" ch ch-config="{fieldName: 'Father'}"/>
				<input type="text" ng-model="vm.student.mother" ch ch-config="{fieldName: 'Mothers'}"/>
				<input type="text" ng-model="vm.student.grandFather" ch ch-config="{fieldName: 'Grandfather'}"/>
				<input type="text" ng-model="vm.student.grandMother" ch ch-config="{fieldName: 'Grandmother'}"/>
				<input type="text" ng-model="vm.student.sisterCount" ch ch-config="{fieldName: 'Sisters'}"/>
				<input type="text" ng-model="vm.student.youngerSister1" ch ch-config="{fieldName: 'Younger Sister'}"/>
				<input type="text" ng-model="vm.student.youngerSister2" ch ch-config="{fieldName: 'Elder Sister'}"/>
				<input type="text" ng-model="vm.student.school" ch ch-config="{fieldName: 'School'}"/>
			</change-history-section>
		</div>
		<div ng-controller="c8 as vm">
			<label class='control-label' style="margin-top:15px;">C6</label>
			<change-history-section s-name='@C8' s-entity='vm.student' s-config="{tenantId: vm.request.tenantId, personId: vm.request.personId, entity: vm.request, entityId: vm.request.entityId}">
				<input type="text" ng-model="vm.student.name" ch ch-config="{fieldName: 'Name'}"/>
				<input type="text" ng-model="vm.student.age" ch ch-config="{fieldName: 'Age'}"/>
				<input type="text" ng-model="vm.student.father" ch ch-config="{fieldName: 'Father'}"/>
				<input type="text" ng-model="vm.student.mother" ch ch-config="{fieldName: 'Mothers'}"/>
				<input type="text" ng-model="vm.student.grandFather" ch ch-config="{fieldName: 'Grandfather'}"/>
				<input type="text" ng-model="vm.student.grandMother" ch ch-config="{fieldName: 'Grandmother'}"/>
				<input type="text" ng-model="vm.student.sisterCount" ch ch-config="{fieldName: 'Sisters'}"/>
				<input type="text" ng-model="vm.student.youngerSister1" ch ch-config="{fieldName: 'Younger Sister'}"/>
				<input type="text" ng-model="vm.student.youngerSister2" ch ch-config="{fieldName: 'Elder Sister'}"/>
				<input type="text" ng-model="vm.student.school" ch ch-config="{fieldName: 'School'}"/>
			</change-history-section>
		</div>
		<div ng-controller="c9 as vm">
			<label class='control-label' style="margin-top:15px;">C9</label>
			<change-history-section s-name='@C9' s-entity='vm.student' s-config="{tenantId: vm.request.tenantId, personId: vm.request.personId, entity: vm.request, entityId: vm.request.entityId}">
				<input type="text" ng-model="vm.student.name" ch ch-config="{fieldName: 'Name'}"/>
				<input type="text" ng-model="vm.student.age" ch ch-config="{fieldName: 'Age'}"/>
				<input type="text" ng-model="vm.student.father" ch ch-config="{fieldName: 'Father'}"/>
				<input type="text" ng-model="vm.student.mother" ch ch-config="{fieldName: 'Mothers'}"/>
				<input type="text" ng-model="vm.student.grandFather" ch ch-config="{fieldName: 'Grandfather'}"/>
				<input type="text" ng-model="vm.student.grandMother" ch ch-config="{fieldName: 'Grandmother'}"/>
				<input type="text" ng-model="vm.student.sisterCount" ch ch-config="{fieldName: 'Sisters'}"/>
				<input type="text" ng-model="vm.student.youngerSister1" ch ch-config="{fieldName: 'Younger Sister'}"/>
				<input type="text" ng-model="vm.student.youngerSister2" ch ch-config="{fieldName: 'Elder Sister'}"/>
				<input type="text" ng-model="vm.student.school" ch ch-config="{fieldName: 'School'}"/>
			</change-history-section>
		</div>
		<div ng-controller="c10 as vm">
			<label class='control-label' style="margin-top:15px;">C10</label>
			<change-history-section s-name='@C10' s-entity='vm.student' s-config="{tenantId: vm.request.tenantId, personId: vm.request.personId, entity: vm.request, entityId: vm.request.entityId}">
				<input type="text" ng-model="vm.student.name" ch ch-config="{fieldName: 'Name'}"/>
				<input type="text" ng-model="vm.student.age" ch ch-config="{fieldName: 'Age'}"/>
				<input type="text" ng-model="vm.student.father" ch ch-config="{fieldName: 'Father'}"/>
				<input type="text" ng-model="vm.student.mother" ch ch-config="{fieldName: 'Mothers'}"/>
				<input type="text" ng-model="vm.student.grandFather" ch ch-config="{fieldName: 'Grandfather'}"/>
				<input type="text" ng-model="vm.student.grandMother" ch ch-config="{fieldName: 'Grandmother'}"/>
				<input type="text" ng-model="vm.student.sisterCount" ch ch-config="{fieldName: 'Sisters'}"/>
				<input type="text" ng-model="vm.student.youngerSister1" ch ch-config="{fieldName: 'Younger Sister'}"/>
				<input type="text" ng-model="vm.student.youngerSister2" ch ch-config="{fieldName: 'Elder Sister'}"/>
				<input type="text" ng-model="vm.student.school" ch ch-config="{fieldName: 'School'}"/>
			</change-history-section>
		</div>
		<div ng-controller="c11 as vm">
			<label class='control-label' style="margin-top:15px;">C11</label>
			<change-history-section s-name='@C11' s-entity='vm.student' s-config="{tenantId: vm.request.tenantId, personId: vm.request.personId, entity: vm.request, entityId: vm.request.entityId}">
				<input type="text" ng-model="vm.student.name" ch ch-config="{fieldName: 'Name'}"/>
				<input type="text" ng-model="vm.student.age" ch ch-config="{fieldName: 'Age'}"/>
				<input type="text" ng-model="vm.student.father" ch ch-config="{fieldName: 'Father'}"/>
				<input type="text" ng-model="vm.student.mother" ch ch-config="{fieldName: 'Mothers'}"/>
				<input type="text" ng-model="vm.student.grandFather" ch ch-config="{fieldName: 'Grandfather'}"/>
				<input type="text" ng-model="vm.student.grandMother" ch ch-config="{fieldName: 'Grandmother'}"/>
				<input type="text" ng-model="vm.student.sisterCount" ch ch-config="{fieldName: 'Sisters'}"/>
				<input type="text" ng-model="vm.student.youngerSister1" ch ch-config="{fieldName: 'Younger Sister'}"/>
				<input type="text" ng-model="vm.student.youngerSister2" ch ch-config="{fieldName: 'Elder Sister'}"/>
				<input type="text" ng-model="vm.student.school" ch ch-config="{fieldName: 'School'}"/>
			</change-history-section>
		</div>
		<div ng-controller="c12 as vm">
			<label class='control-label' style="margin-top:15px;">C12</label>
			<change-history-section s-name='@C12' s-entity='vm.student' s-config="{tenantId: vm.request.tenantId, personId: vm.request.personId, entity: vm.request, entityId: vm.request.entityId}">
				<input type="text" ng-model="vm.student.name" ch ch-config="{fieldName: 'Name'}"/>
				<input type="text" ng-model="vm.student.age" ch ch-config="{fieldName: 'Age'}"/>
				<input type="text" ng-model="vm.student.father" ch ch-config="{fieldName: 'Father'}"/>
				<input type="text" ng-model="vm.student.mother" ch ch-config="{fieldName: 'Mothers'}"/>
				<input type="text" ng-model="vm.student.grandFather" ch ch-config="{fieldName: 'Grandfather'}"/>
				<input type="text" ng-model="vm.student.grandMother" ch ch-config="{fieldName: 'Grandmother'}"/>
				<input type="text" ng-model="vm.student.sisterCount" ch ch-config="{fieldName: 'Sisters'}"/>
				<input type="text" ng-model="vm.student.youngerSister1" ch ch-config="{fieldName: 'Younger Sister'}"/>
				<input type="text" ng-model="vm.student.youngerSister2" ch ch-config="{fieldName: 'Elder Sister'}"/>
				<input type="text" ng-model="vm.student.school" ch ch-config="{fieldName: 'School'}"/>
			</change-history-section>
		</div>
		<div ng-controller="c13 as vm">
			<label class='control-label' style="margin-top:15px;">C13</label>
			<change-history-section s-name='@C13' s-entity='vm.student' s-config="{tenantId: vm.request.tenantId, personId: vm.request.personId, entity: vm.request, entityId: vm.request.entityId}">
				<input type="text" ng-model="vm.student.name" ch ch-config="{fieldName: 'Name'}"/>
				<input type="text" ng-model="vm.student.age" ch ch-config="{fieldName: 'Age'}"/>
				<input type="text" ng-model="vm.student.father" ch ch-config="{fieldName: 'Father'}"/>
				<input type="text" ng-model="vm.student.mother" ch ch-config="{fieldName: 'Mothers'}"/>
				<input type="text" ng-model="vm.student.grandFather" ch ch-config="{fieldName: 'Grandfather'}"/>
				<input type="text" ng-model="vm.student.grandMother" ch ch-config="{fieldName: 'Grandmother'}"/>
				<input type="text" ng-model="vm.student.sisterCount" ch ch-config="{fieldName: 'Sisters'}"/>
				<input type="text" ng-model="vm.student.youngerSister1" ch ch-config="{fieldName: 'Younger Sister'}"/>
				<input type="text" ng-model="vm.student.youngerSister2" ch ch-config="{fieldName: 'Elder Sister'}"/>
				<input type="text" ng-model="vm.student.school" ch ch-config="{fieldName: 'School'}"/>
			</change-history-section>
		</div>
		<div ng-controller="c14 as vm">
			<label class='control-label' style="margin-top:15px;">C14</label>
			<change-history-section s-name='@C14' s-entity='vm.student' s-config="{tenantId: vm.request.tenantId, personId: vm.request.personId, entity: vm.request, entityId: vm.request.entityId}">
				<input type="text" ng-model="vm.student.name" ch ch-config="{fieldName: 'Name'}"/>
				<input type="text" ng-model="vm.student.age" ch ch-config="{fieldName: 'Age'}"/>
				<input type="text" ng-model="vm.student.father" ch ch-config="{fieldName: 'Father'}"/>
				<input type="text" ng-model="vm.student.mother" ch ch-config="{fieldName: 'Mothers'}"/>
				<input type="text" ng-model="vm.student.grandFather" ch ch-config="{fieldName: 'Grandfather'}"/>
				<input type="text" ng-model="vm.student.grandMother" ch ch-config="{fieldName: 'Grandmother'}"/>
				<input type="text" ng-model="vm.student.sisterCount" ch ch-config="{fieldName: 'Sisters'}"/>
				<input type="text" ng-model="vm.student.youngerSister1" ch ch-config="{fieldName: 'Younger Sister'}"/>
				<input type="text" ng-model="vm.student.youngerSister2" ch ch-config="{fieldName: 'Elder Sister'}"/>
				<input type="text" ng-model="vm.student.school" ch ch-config="{fieldName: 'School'}"/>
			</change-history-section>
		</div>
		<div ng-controller="c15 as vm">
			<label class='control-label' style="margin-top:15px;">C15</label>
			<change-history-section s-name='@C15' s-entity='vm.student' s-config="{tenantId: vm.request.tenantId, personId: vm.request.personId, entity: vm.request, entityId: vm.request.entityId}">
				<input type="text" ng-model="vm.student.name" ch ch-config="{fieldName: 'Name'}"/>
				<input type="text" ng-model="vm.student.age" ch ch-config="{fieldName: 'Age'}"/>
				<input type="text" ng-model="vm.student.father" ch ch-config="{fieldName: 'Father'}"/>
				<input type="text" ng-model="vm.student.mother" ch ch-config="{fieldName: 'Mothers'}"/>
				<input type="text" ng-model="vm.student.grandFather" ch ch-config="{fieldName: 'Grandfather'}"/>
				<input type="text" ng-model="vm.student.grandMother" ch ch-config="{fieldName: 'Grandmother'}"/>
				<input type="text" ng-model="vm.student.sisterCount" ch ch-config="{fieldName: 'Sisters'}"/>
				<input type="text" ng-model="vm.student.youngerSister1" ch ch-config="{fieldName: 'Younger Sister'}"/>
				<input type="text" ng-model="vm.student.youngerSister2" ch ch-config="{fieldName: 'Elder Sister'}"/>
				<input type="text" ng-model="vm.student.school" ch ch-config="{fieldName: 'School'}"/>
			</change-history-section>
		</div>
		<div ng-controller="c16 as vm">
			<label class='control-label' style="margin-top:15px;">C16</label>
			<change-history-section s-name='@C16' s-entity='vm.student' s-config="{tenantId: vm.request.tenantId, personId: vm.request.personId, entity: vm.request, entityId: vm.request.entityId}">
				<input type="text" ng-model="vm.student.name" ch ch-config="{fieldName: 'Name'}"/>
				<input type="text" ng-model="vm.student.age" ch ch-config="{fieldName: 'Age'}"/>
				<input type="text" ng-model="vm.student.father" ch ch-config="{fieldName: 'Father'}"/>
				<input type="text" ng-model="vm.student.mother" ch ch-config="{fieldName: 'Mothers'}"/>
				<input type="text" ng-model="vm.student.grandFather" ch ch-config="{fieldName: 'Grandfather'}"/>
				<input type="text" ng-model="vm.student.grandMother" ch ch-config="{fieldName: 'Grandmother'}"/>
				<input type="text" ng-model="vm.student.sisterCount" ch ch-config="{fieldName: 'Sisters'}"/>
				<input type="text" ng-model="vm.student.youngerSister1" ch ch-config="{fieldName: 'Younger Sister'}"/>
				<input type="text" ng-model="vm.student.youngerSister2" ch ch-config="{fieldName: 'Elder Sister'}"/>
				<input type="text" ng-model="vm.student.school" ch ch-config="{fieldName: 'School'}"/>
			</change-history-section>
		</div>
		<div ng-controller="c17 as vm">
			<label class='control-label' style="margin-top:15px;">C17</label>
			<change-history-section s-name='@C17' s-entity='vm.student' s-config="{tenantId: vm.request.tenantId, personId: vm.request.personId, entity: vm.request, entityId: vm.request.entityId}">
				<input type="text" ng-model="vm.student.name" ch ch-config="{fieldName: 'Name'}"/>
				<input type="text" ng-model="vm.student.age" ch ch-config="{fieldName: 'Age'}"/>
				<input type="text" ng-model="vm.student.father" ch ch-config="{fieldName: 'Father'}"/>
				<input type="text" ng-model="vm.student.mother" ch ch-config="{fieldName: 'Mothers'}"/>
				<input type="text" ng-model="vm.student.grandFather" ch ch-config="{fieldName: 'Grandfather'}"/>
				<input type="text" ng-model="vm.student.grandMother" ch ch-config="{fieldName: 'Grandmother'}"/>
				<input type="text" ng-model="vm.student.sisterCount" ch ch-config="{fieldName: 'Sisters'}"/>
				<input type="text" ng-model="vm.student.youngerSister1" ch ch-config="{fieldName: 'Younger Sister'}"/>
				<input type="text" ng-model="vm.student.youngerSister2" ch ch-config="{fieldName: 'Elder Sister'}"/>
				<input type="text" ng-model="vm.student.school" ch ch-config="{fieldName: 'School'}"/>
			</change-history-section>
		</div>
		<div ng-controller="c18 as vm">
			<label class='control-label' style="margin-top:15px;">C18</label>
			<change-history-section s-name='@C18' s-entity='vm.student' s-config="{tenantId: vm.request.tenantId, personId: vm.request.personId, entity: vm.request, entityId: vm.request.entityId}">
				<input type="text" ng-model="vm.student.name" ch ch-config="{fieldName: 'Name'}"/>
				<input type="text" ng-model="vm.student.age" ch ch-config="{fieldName: 'Age'}"/>
				<input type="text" ng-model="vm.student.father" ch ch-config="{fieldName: 'Father'}"/>
				<input type="text" ng-model="vm.student.mother" ch ch-config="{fieldName: 'Mothers'}"/>
				<input type="text" ng-model="vm.student.grandFather" ch ch-config="{fieldName: 'Grandfather'}"/>
				<input type="text" ng-model="vm.student.grandMother" ch ch-config="{fieldName: 'Grandmother'}"/>
				<input type="text" ng-model="vm.student.sisterCount" ch ch-config="{fieldName: 'Sisters'}"/>
				<input type="text" ng-model="vm.student.youngerSister1" ch ch-config="{fieldName: 'Younger Sister'}"/>
				<input type="text" ng-model="vm.student.youngerSister2" ch ch-config="{fieldName: 'Elder Sister'}"/>
				<input type="text" ng-model="vm.student.school" ch ch-config="{fieldName: 'School'}"/>
			</change-history-section>
		</div>
		<div ng-controller="c19 as vm">
			<label class='control-label' style="margin-top:15px;">C19</label>
			<change-history-section s-name='@C19' s-entity='vm.student' s-config="{tenantId: vm.request.tenantId, personId: vm.request.personId, entity: vm.request, entityId: vm.request.entityId}">
				<input type="text" ng-model="vm.student.name" ch ch-config="{fieldName: 'Name'}"/>
				<input type="text" ng-model="vm.student.age" ch ch-config="{fieldName: 'Age'}"/>
				<input type="text" ng-model="vm.student.father" ch ch-config="{fieldName: 'Father'}"/>
				<input type="text" ng-model="vm.student.mother" ch ch-config="{fieldName: 'Mothers'}"/>
				<input type="text" ng-model="vm.student.grandFather" ch ch-config="{fieldName: 'Grandfather'}"/>
				<input type="text" ng-model="vm.student.grandMother" ch ch-config="{fieldName: 'Grandmother'}"/>
				<input type="text" ng-model="vm.student.sisterCount" ch ch-config="{fieldName: 'Sisters'}"/>
				<input type="text" ng-model="vm.student.youngerSister1" ch ch-config="{fieldName: 'Younger Sister'}"/>
				<input type="text" ng-model="vm.student.youngerSister2" ch ch-config="{fieldName: 'Elder Sister'}"/>
				<input type="text" ng-model="vm.student.school" ch ch-config="{fieldName: 'School'}"/>
			</change-history-section>
		</div>
		<div ng-controller="c20 as vm">
			<label class='control-label' style="margin-top:15px;">C20</label>
			<change-history-section s-name='@C20' s-entity='vm.student' s-config="{tenantId: vm.request.tenantId, personId: vm.request.personId, entity: vm.request, entityId: vm.request.entityId}">
				<input type="text" ng-model="vm.student.name" ch ch-config="{fieldName: 'Name'}"/>
				<input type="text" ng-model="vm.student.age" ch ch-config="{fieldName: 'Age'}"/>
				<input type="text" ng-model="vm.student.father" ch ch-config="{fieldName: 'Father'}"/>
				<input type="text" ng-model="vm.student.mother" ch ch-config="{fieldName: 'Mothers'}"/>
				<input type="text" ng-model="vm.student.grandFather" ch ch-config="{fieldName: 'Grandfather'}"/>
				<input type="text" ng-model="vm.student.grandMother" ch ch-config="{fieldName: 'Grandmother'}"/>
				<input type="text" ng-model="vm.student.sisterCount" ch ch-config="{fieldName: 'Sisters'}"/>
				<input type="text" ng-model="vm.student.youngerSister1" ch ch-config="{fieldName: 'Younger Sister'}"/>
				<input type="text" ng-model="vm.student.youngerSister2" ch ch-config="{fieldName: 'Elder Sister'}"/>
				<input type="text" ng-model="vm.student.school" ch ch-config="{fieldName: 'School'}"/>
			</change-history-section>
		</div>
		
		
		
		<!-- Post Ready Scripts -->
		<script type="text/javascript" src="scripts/services/datacontext.js"></script>	
		<script type="text/javascript" src="scripts/controllers/c1.js"></script>	
		<script type="text/javascript" src="scripts/controllers/c2.js"></script>
		<script type="text/javascript" src="scripts/controllers/c3.js"></script>
		<script type="text/javascript" src="scripts/controllers/c4.js"></script>
		<script type="text/javascript" src="scripts/controllers/c5.js"></script>
		<script type="text/javascript" src="scripts/controllers/c6.js"></script>
		<script type="text/javascript" src="scripts/controllers/c7.js"></script>
		<script type="text/javascript" src="scripts/controllers/c8.js"></script>
		<script type="text/javascript" src="scripts/controllers/c9.js"></script>
		<script type="text/javascript" src="scripts/controllers/c10.js"></script>
		<script type="text/javascript" src="scripts/controllers/c11.js"></script>
		<script type="text/javascript" src="scripts/controllers/c12.js"></script>
		<script type="text/javascript" src="scripts/controllers/c13.js"></script>
		<script type="text/javascript" src="scripts/controllers/c14.js"></script>
		<script type="text/javascript" src="scripts/controllers/c15.js"></script>
		<script type="text/javascript" src="scripts/controllers/c16.js"></script>
		<script type="text/javascript" src="scripts/controllers/c17.js"></script>
		<script type="text/javascript" src="scripts/controllers/c18.js"></script>
		<script type="text/javascript" src="scripts/controllers/c19.js"></script>
		<script type="text/javascript" src="scripts/controllers/c20.js"></script>
		<script type="text/javascript" src="scripts/controllers/indexController.js"></script>
		<script type="text/javascript" src="scripts/controllers/secondController.js"></script>	
		<script type="text/javascript" src="scripts/directives/changeHistory.directive.js"></script>
	</body>
</html>